.pagination{
    display: flex;
  }

  .pagination div{
    height: 50px;
    width: 50px;
    border:2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
  
  .pagination div span{
    font-size: 25px;
  }
  
  .pagination div:hover {
    /* background-color: gray; */
    box-shadow:5px 5px 5px rgba(29, 0, 55, 0.8) ;
    transform:scale(0);
    transition: all 0.5s ease-in-out;
    background-color: black;
    color:white;
  }