p
{
    background-color: red ;
}

.div-1
{
    background-color: green !important ;
    color: black;
}

.Hello
{
    width: 150px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
}