*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}  



/****** Css Media Queries ********/

/* 
   ViewPort Xs (320px)
   ViewPort Sm mobile >=576px
   ViewPort Md Tablet , Landscape Mobile >=768px
   ViewPort Lg Small Laptop , Landscape tablet >=992px
   ViewPort Xl Large Laptop >=1200px
   ViewPort XXl Desktop >= 1400px
*/

.responsive{
  height: 500px;
  background-color: green;
}










 