body
{
    background-color:#EEF2FF;
    font-family: monospace;
}


.pagination
{
    height: 100px;
    width: 600px;
    background: #fff;
    display: flex;
    position: absolute;
    inset: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 10px;
}

.pagination div
{
    position: relative;
    top:0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
    color: skyblue;
    
}

.pagination div span:hover{
    color: black;
    text-decoration: underline 4px;
    transition: all 0.5s ease-in;
}

