.button
{
    margin: 100px 0 0 100px;
    width: 300px;
    height: 80px;
    text-align: center;
    background-color: #fff;
    color: gray;
    border-radius: 50px;
    box-shadow: 5px 5px  10px gray inset;
    font-size: 40px;
    font-family: cursive;
}
.submit
{

    margin: 100px 0 0 100px;
    width: 300px;
    height: 80px;
    text-align: center;
    background-color: #fff;
    color: gray;
    border-radius: 40px;
    box-shadow: 5px 5px  10px gray;
    font-size: 50px;
    font-family: cursive;
}
.range
{

    margin: 100px 0 0 100px;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    color:gray;
    border-radius: 50px;
    box-shadow: -5px -5px  15px gray inset;
    font-size: 20px;
    font-family: cursive;
    accent-color: #fff;
}