.mybutton
{
    margin: 100px 0 0 100px;
    width: 450px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    border-radius: 15px;  
    display: inline-block;
    background-color: black;
    color: #fff;

}

.mybutton:hover
{
    box-shadow: 10px 10px 5px gray;
}
